
# Use 'pip install --upgrade -r requirements.txt'
# Also download and install pywin32 distribution from https://sourceforge.net/projects/pywin32/files/pywin32/
# cacert.pem has been downloaded from https://curl.haxx.se/ca/cacert.pem
pycurl
ldap3
six
pymi
dnspython
py-zabbix
