
# Use 'pip3 install --upgrade -r requirements.txt'
# Also download and install pywin32 distribution from https://github.com/mhammond/pywin32/releases
# cacert.pem has been downloaded from https://curl.haxx.se/ca/cacert.pem

pycurl
ldap3
six
wmi
dnspython
py-zabbix
redis
python-daemon
pidfile
pyvmomi
